<!-- <p>footer works!</p> -->


<div class="footerSection">
    <div class="row g-0 ">
        <div class="col-lg-4  mt-3">
            <div class="footerImage">
                <div>
                    <img src='../../assets/images/Group 502.png' class="img" />
                </div>
                <div class="typeo mt-3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </div>
            </div>
        </div>
        <div class="col-lg-2  mt-3">
            <div class="typeh">About us</div>
            <div class="typeo">Company</div>
            <div class="typeo">Our Team</div>
            <div class="typeo">Our Partners</div>
            <div class="typeo">Our Customers</div>
            <div class="typeo">Careers</div>
            <div class="typeo">Contact us</div>
        </div>
        <div class="col-lg-3  mt-3">
            <div class="typeh">Quick links</div>
            <div class="typeo">Web store</div>
            <div class="typeo">Privacy policy</div>
            <div class="typeo">Trademarks & Copyrights</div>
            <div class="typeo">Complaints & Appeal</div>
            <div class="typeo">Careers</div>
            <div class="typeo">Sitemap</div>
        </div>
        <div class="col-lg-3  mt-3">
            <div class="typeh">Subscribe to our newsletter</div>
            <div class="inputBox">
                <input type="email" class="form-control input" placeholder="Your email">
            </div>
            <div class="subscribeButton">
                <button type="button" class="btn buttonS">Subscribe</button>
            </div>
            <div>
                <div class="typeo mt-4">Follow us on</div>
            </div>

            <div class="icon">
                <div class="SocialIcon"><i class="fa-brands fa-linkedin"></i></div>
                <div class="SocialIcon"><i class="fa-brands fa-facebook"></i></div>
                <div class="SocialIcon"><i class="fa-brands fa-twitter"></i></div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <div class="typeo global text-center mt-4">©2022 All Rights reserved by Global Success Systems.</div>
</div>