<!-- <p>homepage works!</p> -->


<div class="homepageSection">

    <div class="homeContent">Improve your <span class="spanContent">business
            <br />performance</span> by empowering<br /> your people.</div>

    <div class="homeSubContent">Get curated courses and dedicated consultation for your employees at
        one
        place.</div>

    <div class="buttonGroup">
        <Button class="courses">View courses</Button>
        <Button class="btn btn-outline-primary works">How it works?</Button>
    </div>

</div>