<!-- <p>whyus works!</p> -->
<div class="whyUsSection">

    <div class="whyHeading">Why Us?</div>
    <div class="whySubHeading">Global Success Systems Advantage</div>


    <div class="whyUsContent">
        <div class="container px-4 ">
            <div class="row gx-5">
                <div class="col">
                    <img src="../../assets/images/why us image.png" height="400" width="400" />
                </div>
                <div class="col">
                    <div class="whyUsboxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 516.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Real World Professionals</div>
                            <div class="boxContain">Our Trainers, Consultants and Auditors are with an
                                average 15+ years of practical and global experience.</div>

                            <button type="button" class="btn btn-link whyUsButton">View our team</button>
                        </div>

                    </div>
                    <div class="whyUsboxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 515.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Accredited Courses</div>
                            <div class="boxContain">Our courses and exams are accredited by global
                                Certification Bodies and experts.</div>

                            <button type="button" class="btn btn-link whyUsButton">Our Accreditations</button>
                        </div>

                    </div>
                    <div class="whyUsboxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 517.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Industry Leading Products and Solutions</div>
                            <div class="boxContain">We provide customized, practical, implementable
                                services to achieve your goals.</div>

                            <button type="button" class="btn btn-link whyUsButton">Our Approach</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>