<!-- <p>navbar works!</p> -->

<div class="nav">
    <div class="navContent">
        <div class="d-flex">
            <div class="mail">
                <div><i class="fa-solid fa-envelope"></i></div>
                <div class="heading">demo@gssgroup.com</div>
            </div>
            <div class="call">
                <div><i class="fa-solid fa-phone"></i></div>
                <div class="heading">7894561236</div>
            </div>
        </div>
        <div class="d-flex">
            <div class="heading">Follow us on:</div>
            <div class="icon">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="heading">Contact us</div>
        </div>
    </div>

</div>