<!-- <p>aboutus works!</p> -->

<div class="aboutSection">

    <div class="aboutHeading">About Us</div>
    <div class="aboutSubHeading">
        A brief about our vision, mission & us.
    </div>
    <div class="container">
        <div class="aboutContent">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vitae sed eget ut turpis eget feugiat aenean viverra. Sodales in
            urna nec, amet molestie varius. Vel auctor vitae ultrices eget
            senectus. Nisi, mattis lectus mi tellus quis ornare. Arcu
            tristique nulla duis eu nunc molestie. Donec dictumst sapien enim
            nec nibh sed arcu. Quis pretium ultrices velit non euismod. Amet
            at consectetur at tortor pharetra, nisl donec quam cras. Aliquet
            dolor etiam commodo nisl.
        </div>
        <div class="aboutContent">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vitae sed eget ut turpis eget feugiat aenean viverra. Sodales in
            urna nec, amet molestie varius. Vel auctor vitae ultrices eget
            senectus. Nisi, mattis lectus mi tellus quis ornare. Arcu
            tristique nulla duis eu nunc molestie. Donec dictumst sapien enim
            nec nibh sed arcu. Quis pretium ultrices velit non euismod. Amet
            at consectetur at tortor pharetra, nisl donec quam cras. Aliquet
            dolor etiam commodo nisl.
        </div>
    </div>
</div>