<!-- <p>ourservices works!</p> -->

<div class="serviceSection">

    <div class="services">
        <div class="heading">
            <div class="seviceHeading">Our Services</div>
            <div class="serviceSubHeading">Making you industry ready is our responsibility</div>
        </div>

        <div class="container mt-4 mb-4">
            <div class="row gy-4">
                <div class="col-lg-6 col-sm-12">
                    <div class="boxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 520.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Training</div>
                            <div class="boxContain">We help you to gain the knowledge, skills and practical application
                                of
                                the subjects. Check certification courses and other programs...</div>

                            <button type="button" class="btn serviceButton">View courses</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="boxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 508.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Consulting</div>
                            <div class="boxContain">We help you to gain the knowledge, skills and practical application
                                of the subjects. Check certification courses and
                                other programs....</div>

                            <button type="button" class="btn serviceButton">View Services</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="boxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 510.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Web Store</div>
                            <div class="boxContain">We help you to gain the knowledge, skills and practical application
                                of the subjects. Check certification courses and
                                other programs....</div>

                            <button type="button" class="btn serviceButton">View Products</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="boxes">
                        <div class="serviceBox">
                            <img src="../../assets/images/Group 512.png" height="70" width="70" />
                        </div>
                        <div>
                            <div class="boxHeading">Solutions</div>
                            <div class="boxContain">We help you to gain the knowledge, skills and practical application
                                of the subjects. Check certification courses and
                                other programs....</div>

                            <button type="button" class="btn serviceButton">View Solutions</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>