<!-- <p>latestnews works!</p> -->

<div class="newsSection">
    <div class="newsHeading">Latest News</div>


    <div class="cardContents">
        <div class="container px-4">
            <div class="row gx-5 ">
                <div class="col-lg-3">
                    <div class="p-3">
                        <div class="BoxCard">
                            <div class="imgContent">
                                <img src="../../assets/images/Rectangle 36.png" height="150" width="100%">
                            </div>
                            <div class="carouselcardcontents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non sapien auctor.
                            </div>
                            <div class="cardsubContent">
                                By Himanshu , 03/02/2022
                            </div>

                            <div class="buttonCard">
                                <button type="button" class="btn cardbutton">Read more</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="p-3">
                        <div class="BoxCard">
                            <div class="imgContent">
                                <img src="../../assets/images/Rectangle 36.png" height="150" width="100%">
                            </div>
                            <div class="carouselcardcontents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non sapien auctor.
                            </div>
                            <div class="cardsubContent">
                                By Himanshu , 03/02/2022
                            </div>

                            <div class="buttonCard">
                                <button type="button" class="btn cardbutton">Read more</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="p-3">
                        <div class="BoxCard">
                            <div class="imgContent">
                                <img src="../../assets/images/Rectangle 36.png" height="150" width="100%">
                            </div>
                            <div class="carouselcardcontents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non sapien auctor.
                            </div>
                            <div class="cardsubContent">
                                By Himanshu , 03/02/2022
                            </div>

                            <div class="buttonCard">
                                <button type="button" class="btn cardbutton">Read more</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="p-3">
                        <div class="BoxCard">
                            <div class="imgContent">
                                <img src="../../assets/images/Rectangle 36.png" height="150" width="100%">
                            </div>
                            <div class="carouselcardcontents">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet non sapien auctor.
                            </div>
                            <div class="cardsubContent">
                                By Himanshu , 03/02/2022
                            </div>

                            <div class="buttonCard">
                                <button type="button" class="btn cardbutton">Read more</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newsButtonBox">
            <button type="button" class="btn btn-outline-primary readbutton">Read more</button>
        </div>
    </div>

</div>